@import "tailwindcss";
@import "./font.css";
@import "@nuxt/ui";

/* @plugin "daisyui" {
  themes: light --default;
} */

:root {
  --ui-primary: var(--ui-color-primary-900);
  --ui-secondary: var(--ui-color-secondary-600);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
  --ui-radius: var(--radius-sm);
  --ui-container: 90rem;
  --ui-bg: var(--ui-color-neutral-50);
  --ui-text: var(--ui-color-neutral-800);
}

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #a20592;
  --color-secondary: #f4c1e5;
} */

* {
  direction: rtl;
}

body {
  @apply bg-slate-50;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
